@model AppointmentReminders.Web.Models.Appointment

<div class="page-header">
    <h1>New Appointment</h1>
</div>

@using (Html.BeginForm("Create", "Appointments", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
{
    @Html.Partial("_Form")
    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <input type="submit" value="Create Appointment" class="btn btn-primary"/>
            @Html.ActionLink("Cancel", "Index", new { Controller = "Appointments" }, new { @class = "btn btn-default" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/datetime")
}

@section Styles {
    @Styles.Render("~/Content/datetime")
}